h4{
    display: block;
    width: 600px;
}
.welcome-item{
    width: 300px;
    height: 143px;
    background: #bfa;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 10px;
}

a{
    display: block;
}